$black: #000;
$white: #fff;
$yellow: #cf9114;
$green: #006e5b;
$color-text: #707070;
$brown: #6c533d;
$skin: #e3c5a5;
$gray: #a4a09d;
$reddish: #9e635e;
$primary-color: #C8102E;
$secondary-color: #cb1515;
